img
{
  height:150px;
  width: 30%;
  border:2px #FFE400;
  margin-left:2%;
}
.navbar
{
  height:40px;
  margin-left:  1%;
  background-color:#C3F73A ;
  border-radius:10px;
  width: 100%;
  padding-bottom: 20px;
}
.navbar ul li a		
{
  text-decoration:none;
  color: black;
}
.navbar ul
{
  display:flex;
  list-style:none;
  /* position:fixed ;*/
  padding-bottom: 20px;
}

body
{
  background-color:white ;
  background-image: url('Image7.jpg');
  background-repeat: no-repeat;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
}
form
{
  background-color:white;
  height:1150px;
  width:700px;
  margin:6px;
  padding:20px;
  border-radius:60px;
  color:blue;
}
.textbox
{
  margin-left:220px;
  width:150px;
}
#a
{
  width:190px;
}
#b
{
  margin-left:102px;
}
#radio1, #radio2, #radio3
{
 margin-right:500px;
 float:right;
}
.check
{
  float:right;
  margin-right:100px;
}
button
{
  background-color:#14A76C;
  color:white;
  width:300px;
  height:50px;
  font-size:20px;
  margin-left:0%;
  text-align:center;
}    
button:hover
{
  background-color:blue;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.dropdown
{
  display: none;
}
.dropdown ul
{
 display: block;
 border-radius: 6px;
 padding: 7px;
}
.dropdown ul li
{
  width: 250px;
  background-color:#C3F73A;
  height: 20px;
  margin:5px;
  padding: 20px;
  font-size:  18px;
  text-align: left;
}
.dropdown ul li a
{
  text-align:left;
}
.navbar ul li a:hover
{
 background-color:white ;
}
.navbar ul li:hover .dropdown
{
  display: block;
}
.navbar2
{
  height:80%;
  width:  100%;
  padding:55px;
}
  
    .navbar2 ul
    {
      /*float:right;*/
      display:flex;
      list-style:none;
      border-radius: 20;
    }
    a:hover
    {
      color:green;								   
    }
    .navbar2 ul li a:hover
    {
     background-color:pink ;
   }
   .navbar2 ul li:hover .dropdown
   {
    display: block;
  }
  .Square
  {
    height: 30px;
    width:  240px;
    background-color: #FF652F;
    display: inline-block;
    margin:20px;
    font-size:20px;
    text-align:  center;
    padding: 10px;
    border-color: 2px solid white;
    border-radius: 15px 50px 30px; 
  }
  .Square:hover
  {
    opacity:0.8;
  }
  .navbar ul li a
  {
    margin:35px;
  } 
  #imgnew
  {
    background-image: url('C:/azcoderspage/azcoderspage/Image7.jpg');
    height: 30%;
    width: 60%;
    background-repeat: no-repeat;
  }
  .JNB
  {
    color: #14A76C;
    font-size: 10px; 
    text-align: center;
  }
  .CV
  {
    font-style: ariel;
    text-align:  center;  
  }
  .combined
  {
    display: inline-block;
  }
  #font1
  {
    color:#082644; font-size: 25px;
  }
  #newfont
  {
    color: black;
    font-size: 16px;
  }
  #2
  {
    color:#FF652F;
  }
  .core
  {
    text-align: center;
    padding-left: 100px;
    margin-left: 100px;
  }
  